/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
:root {
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0;
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica,Arial,Apple Color Emoji,Segoe UI Emoji
}

hr {
    height: 0;
    color: inherit
}

abbr[title] {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

b,strong {
    font-weight: bolder
}

code,kbd,pre,samp {
    font-family: ui-monospace,SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

table {
    text-indent: 0;
    border-color: inherit
}

button,input,optgroup,select,textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,select {
    text-transform: none
}

[type=button],[type=reset],[type=submit],button {
    -webkit-appearance: button
}

legend {
    padding: 0
}

progress {
    vertical-align: baseline
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

summary {
    display: list-item
}

blockquote,dd,dl,figure,h1,h2,h3,h4,h5,h6,hr,p,pre {
    margin: 0
}

button {
    background-color: transparent;
    background-image: none
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color
}

fieldset,ol,ul {
    margin: 0;
    padding: 0
}

ol,ul {
    list-style: none
}

html {
    font-family: ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    line-height: 1.5
}

body {
    font-family: inherit;
    line-height: inherit
}

*,:after,:before {
    box-sizing: border-box;
    border: 0 solid #e5e7eb
}

hr {
    border-top-width: 1px
}

img {
    border-style: solid
}

textarea {
    resize: vertical
}

input::-moz-placeholder,textarea::-moz-placeholder {
    color: #9ca3af
}

input:-ms-input-placeholder,textarea:-ms-input-placeholder {
    color: #9ca3af
}

input::placeholder,textarea::placeholder {
    color: #9ca3af
}

[role=button],button {
    cursor: pointer
}

table {
    border-collapse: collapse
}

h1,h2,h3,h4,h5,h6 {
    font-size: inherit;
    font-weight: inherit
}

a {
    color: inherit;
    text-decoration: inherit
}

button,input,optgroup,select,textarea {
    padding: 0;
    line-height: inherit;
    color: inherit
}

code,kbd,pre,samp {
    font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace
}

audio,canvas,embed,iframe,img,object,svg,video {
    display: block;
    vertical-align: middle
}

img,video {
    max-width: 100%;
    height: auto
}

.container {
    width: 100%
}

@media (min-width: 640px) {
    .container {
        max-width:640px
    }
}

@media (min-width: 768px) {
    .container {
        max-width:768px
    }
}

@media (min-width: 1024px) {
    .container {
        max-width:1024px
    }
}

@media (min-width: 1280px) {
    .container {
        max-width:1280px
    }
}

@media (min-width: 1536px) {
    .container {
        max-width:1536px
    }
}

.prose {
    color: #374151;
    max-width: 65ch
}

.prose [class~=lead] {
    color: #4b5563;
    font-size: 1.25em;
    line-height: 1.6;
    margin-top: 1.2em;
    margin-bottom: 1.2em
}

.prose a {
    color: #111827;
    text-decoration: underline;
    font-weight: 500
}

.prose strong {
    color: #111827;
    font-weight: 600
}

.prose ol {
    counter-reset: list-counter;
    margin-top: 1.25em;
    margin-bottom: 1.25em
}

.prose ol>li {
    position: relative;
    counter-increment: list-counter;
    padding-left: 1.75em
}

.prose ol>li:before {
    content: counter(list-counter) ".";
    position: absolute;
    font-weight: 400;
    color: #6b7280;
    left: 0
}

.prose ul>li {
    position: relative;
    padding-left: 1.75em
}

.prose ul>li:before {
    content: "";
    position: absolute;
    background-color: #d1d5db;
    border-radius: 50%;
    width: .375em;
    height: .375em;
    top: .6875em;
    left: .25em
}

.prose hr {
    border-color: #e5e7eb;
    border-top-width: 1px;
    margin-top: 3em;
    margin-bottom: 3em
}

.prose blockquote {
    font-weight: 500;
    font-style: italic;
    color: #111827;
    border-left-width: .25rem;
    border-left-color: #e5e7eb;
    quotes: "\201C""\201D""\2018""\2019";
    margin-top: 1.6em;
    margin-bottom: 1.6em;
    padding-left: 1em
}

.prose blockquote p:first-of-type:before {
    content: open-quote
}

.prose blockquote p:last-of-type:after {
    content: close-quote
}

.prose h1 {
    color: #111827;
    font-weight: 800;
    font-size: 2.25em;
    margin-top: 0;
    margin-bottom: .8888889em;
    line-height: 1.1111111
}

.prose h2 {
    color: #111827;
    font-weight: 700;
    font-size: 1.5em;
    margin-top: 2em;
    margin-bottom: 1em;
    line-height: 1.3333333
}

.prose h3 {
    font-size: 1.25em;
    margin-top: 1.6em;
    margin-bottom: .6em;
    line-height: 1.6
}

.prose h3,.prose h4 {
    color: #111827;
    font-weight: 600
}

.prose h4 {
    margin-top: 1.5em;
    margin-bottom: .5em;
    line-height: 1.5
}

.prose figure figcaption {
    color: #6b7280;
    font-size: .875em;
    line-height: 1.4285714;
    margin-top: .8571429em
}

.prose code {
    color: #111827;
    font-weight: 600;
    font-size: .875em
}

.prose code:after,.prose code:before {
    content: "`"
}

.prose a code {
    color: #111827
}

.prose pre {
    color: #e5e7eb;
    background-color: #1f2937;
    overflow-x: auto;
    font-size: .875em;
    line-height: 1.7142857;
    margin-top: 1.7142857em;
    margin-bottom: 1.7142857em;
    border-radius: .375rem;
    padding: .8571429em 1.1428571em
}

.prose pre code {
    background-color: transparent;
    border-width: 0;
    border-radius: 0;
    padding: 0;
    font-weight: 400;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit
}

.prose pre code:after,.prose pre code:before {
    content: ""
}

.prose table {
    width: 100%;
    table-layout: auto;
    text-align: left;
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: .875em;
    line-height: 1.7142857
}

.prose thead {
    color: #111827;
    font-weight: 600;
    border-bottom-width: 1px;
    border-bottom-color: #d1d5db
}

.prose thead th {
    vertical-align: bottom;
    padding-right: .5714286em;
    padding-bottom: .5714286em;
    padding-left: .5714286em
}

.prose tbody tr {
    border-bottom-width: 1px;
    border-bottom-color: #e5e7eb
}

.prose tbody tr:last-child {
    border-bottom-width: 0
}

.prose tbody td {
    vertical-align: top;
    padding: .5714286em
}

.prose {
    font-size: 1rem;
    line-height: 1.75
}

.prose p {
    margin-top: 1.25em;
    margin-bottom: 1.25em
}

.prose figure,.prose img,.prose video {
    margin-top: 2em;
    margin-bottom: 2em
}

.prose figure>* {
    margin-top: 0;
    margin-bottom: 0
}

.prose h2 code {
    font-size: .875em
}

.prose h3 code {
    font-size: .9em
}

.prose ul {
    margin-top: 1.25em;
    margin-bottom: 1.25em
}

.prose li {
    margin-top: .5em;
    margin-bottom: .5em
}

.prose>ul>li p {
    margin-top: .75em;
    margin-bottom: .75em
}

.prose>ul>li>:first-child {
    margin-top: 1.25em
}

.prose>ul>li>:last-child {
    margin-bottom: 1.25em
}

.prose>ol>li>:first-child {
    margin-top: 1.25em
}

.prose>ol>li>:last-child {
    margin-bottom: 1.25em
}

.prose ol ol,.prose ol ul,.prose ul ol,.prose ul ul {
    margin-top: .75em;
    margin-bottom: .75em
}

.prose h2+*,.prose h3+*,.prose h4+*,.prose hr+* {
    margin-top: 0
}

.prose thead th:first-child {
    padding-left: 0
}

.prose thead th:last-child {
    padding-right: 0
}

.prose tbody td:first-child {
    padding-left: 0
}

.prose tbody td:last-child {
    padding-right: 0
}

.prose>:first-child {
    margin-top: 0
}

.prose>:last-child {
    margin-bottom: 0
}

.prose-xl {
    font-size: 1.25rem;
    line-height: 1.8
}

.prose-xl p {
    margin-top: 1.2em;
    margin-bottom: 1.2em
}

.prose-xl [class~=lead] {
    font-size: 1.2em;
    line-height: 1.5;
    margin-top: 1em;
    margin-bottom: 1em
}

.prose-xl blockquote {
    margin-top: 1.6em;
    margin-bottom: 1.6em;
    padding-left: 1.0666667em
}

.prose-xl h1 {
    font-size: 2.8em;
    margin-top: 0;
    margin-bottom: .8571429em;
    line-height: 1
}

.prose-xl h2 {
    font-size: 1.8em;
    margin-top: 1.5555556em;
    margin-bottom: .8888889em;
    line-height: 1.1111111
}

.prose-xl h3 {
    font-size: 1.5em;
    margin-top: 1.6em;
    margin-bottom: .6666667em;
    line-height: 1.3333333
}

.prose-xl h4 {
    margin-top: 1.8em;
    margin-bottom: .6em;
    line-height: 1.6
}

.prose-xl figure,.prose-xl img,.prose-xl video {
    margin-top: 2em;
    margin-bottom: 2em
}

.prose-xl figure>* {
    margin-top: 0;
    margin-bottom: 0
}

.prose-xl figure figcaption {
    font-size: .9em;
    line-height: 1.5555556;
    margin-top: 1em
}

.prose-xl code {
    font-size: .9em
}

.prose-xl h2 code {
    font-size: .8611111em
}

.prose-xl h3 code,.prose-xl pre {
    font-size: .9em
}

.prose-xl pre {
    line-height: 1.7777778;
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: .5rem;
    padding: 1.1111111em 1.3333333em
}

.prose-xl ol,.prose-xl ul {
    margin-top: 1.2em;
    margin-bottom: 1.2em
}

.prose-xl li {
    margin-top: .6em;
    margin-bottom: .6em
}

.prose-xl ol>li {
    padding-left: 1.8em
}

.prose-xl ol>li:before {
    left: 0
}

.prose-xl ul>li {
    padding-left: 1.8em
}

.prose-xl ul>li:before {
    width: .35em;
    height: .35em;
    top: .725em;
    left: .25em
}

.prose-xl>ul>li p {
    margin-top: .8em;
    margin-bottom: .8em
}

.prose-xl>ul>li>:first-child {
    margin-top: 1.2em
}

.prose-xl>ul>li>:last-child {
    margin-bottom: 1.2em
}

.prose-xl>ol>li>:first-child {
    margin-top: 1.2em
}

.prose-xl>ol>li>:last-child {
    margin-bottom: 1.2em
}

.prose-xl ol ol,.prose-xl ol ul,.prose-xl ul ol,.prose-xl ul ul {
    margin-top: .8em;
    margin-bottom: .8em
}

.prose-xl hr {
    margin-top: 2.8em;
    margin-bottom: 2.8em
}

.prose-xl h2+*,.prose-xl h3+*,.prose-xl h4+*,.prose-xl hr+* {
    margin-top: 0
}

.prose-xl table {
    font-size: .9em;
    line-height: 1.5555556
}

.prose-xl thead th {
    padding-right: .6666667em;
    padding-bottom: .8888889em;
    padding-left: .6666667em
}

.prose-xl thead th:first-child {
    padding-left: 0
}

.prose-xl thead th:last-child {
    padding-right: 0
}

.prose-xl tbody td {
    padding: .8888889em .6666667em
}

.prose-xl tbody td:first-child {
    padding-left: 0
}

.prose-xl tbody td:last-child {
    padding-right: 0
}

.prose-xl>:first-child {
    margin-top: 0
}

.prose-xl>:last-child {
    margin-bottom: 0
}

.prose-2xl {
    font-size: 1.5rem;
    line-height: 1.6666667
}

.prose-2xl p {
    margin-top: 1.3333333em;
    margin-bottom: 1.3333333em
}

.prose-2xl [class~=lead] {
    font-size: 1.25em;
    line-height: 1.4666667;
    margin-top: 1.0666667em;
    margin-bottom: 1.0666667em
}

.prose-2xl blockquote {
    margin-top: 1.7777778em;
    margin-bottom: 1.7777778em;
    padding-left: 1.1111111em
}

.prose-2xl h1 {
    font-size: 2.6666667em;
    margin-top: 0;
    margin-bottom: .875em;
    line-height: 1
}

.prose-2xl h2 {
    font-size: 2em;
    margin-top: 1.5em;
    margin-bottom: .8333333em;
    line-height: 1.0833333
}

.prose-2xl h3 {
    font-size: 1.5em;
    margin-top: 1.5555556em;
    margin-bottom: .6666667em;
    line-height: 1.2222222
}

.prose-2xl h4 {
    margin-top: 1.6666667em;
    margin-bottom: .6666667em;
    line-height: 1.5
}

.prose-2xl figure,.prose-2xl img,.prose-2xl video {
    margin-top: 2em;
    margin-bottom: 2em
}

.prose-2xl figure>* {
    margin-top: 0;
    margin-bottom: 0
}

.prose-2xl figure figcaption {
    font-size: .8333333em;
    line-height: 1.6;
    margin-top: 1em
}

.prose-2xl code {
    font-size: .8333333em
}

.prose-2xl h2 code {
    font-size: .875em
}

.prose-2xl h3 code {
    font-size: .8888889em
}

.prose-2xl pre {
    font-size: .8333333em;
    line-height: 1.8;
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: .5rem;
    padding: 1.2em 1.6em
}

.prose-2xl ol,.prose-2xl ul {
    margin-top: 1.3333333em;
    margin-bottom: 1.3333333em
}

.prose-2xl li {
    margin-top: .5em;
    margin-bottom: .5em
}

.prose-2xl ol>li {
    padding-left: 1.6666667em
}

.prose-2xl ol>li:before {
    left: 0
}

.prose-2xl ul>li {
    padding-left: 1.6666667em
}

.prose-2xl ul>li:before {
    width: .3333333em;
    height: .3333333em;
    top: .66667em;
    left: .25em
}

.prose-2xl>ul>li p {
    margin-top: .8333333em;
    margin-bottom: .8333333em
}

.prose-2xl>ul>li>:first-child {
    margin-top: 1.3333333em
}

.prose-2xl>ul>li>:last-child {
    margin-bottom: 1.3333333em
}

.prose-2xl>ol>li>:first-child {
    margin-top: 1.3333333em
}

.prose-2xl>ol>li>:last-child {
    margin-bottom: 1.3333333em
}

.prose-2xl ol ol,.prose-2xl ol ul,.prose-2xl ul ol,.prose-2xl ul ul {
    margin-top: .6666667em;
    margin-bottom: .6666667em
}

.prose-2xl hr {
    margin-top: 3em;
    margin-bottom: 3em
}

.prose-2xl h2+*,.prose-2xl h3+*,.prose-2xl h4+*,.prose-2xl hr+* {
    margin-top: 0
}

.prose-2xl table {
    font-size: .8333333em;
    line-height: 1.4
}

.prose-2xl thead th {
    padding-right: .6em;
    padding-bottom: .8em;
    padding-left: .6em
}

.prose-2xl thead th:first-child {
    padding-left: 0
}

.prose-2xl thead th:last-child {
    padding-right: 0
}

.prose-2xl tbody td {
    padding: .8em .6em
}

.prose-2xl tbody td:first-child {
    padding-left: 0
}

.prose-2xl tbody td:last-child {
    padding-right: 0
}

.prose-2xl>:first-child {
    margin-top: 0
}

.prose-2xl>:last-child {
    margin-bottom: 0
}

.space-x-6>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0!important;
    margin-right: calc(1.5rem*var(--tw-space-x-reverse))!important;
    margin-left: calc(1.5rem*(1 - var(--tw-space-x-reverse)))!important
}

.sr-only {
    position: absolute!important;
    width: 1px!important;
    height: 1px!important;
    padding: 0!important;
    margin: -1px!important;
    overflow: hidden!important;
    clip: rect(0,0,0,0)!important;
    white-space: nowrap!important;
    border-width: 0!important
}

.bg-transparent {
    background-color: transparent!important
}

.bg-white {
    background-color: rgba(255,255,255,var(--tw-bg-opacity))!important
}

.bg-gray-50,.bg-white {
    --tw-bg-opacity: 1!important
}

.bg-gray-50 {
    background-color: rgba(249,250,251,var(--tw-bg-opacity))!important
}

.bg-yellow-200 {
    --tw-bg-opacity: 1!important;
    background-color: rgba(253,230,138,var(--tw-bg-opacity))!important
}

.bg-yellow-300 {
    --tw-bg-opacity: 1!important;
    background-color: rgba(252,211,77,var(--tw-bg-opacity))!important
}

.bg-yellow-400 {
    --tw-bg-opacity: 1!important;
    background-color: rgba(251,191,36,var(--tw-bg-opacity))!important
}

.bg-gradient-to-b {
    background-image: linear-gradient(180deg,var(--tw-gradient-stops))!important
}

.from-white {
    --tw-gradient-from: #fff!important;
    --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to,hsla(0,0%,100%,0))!important
}

.to-gray-50 {
    --tw-gradient-to: #f9fafb!important
}

.bg-no-repeat {
    background-repeat: no-repeat!important
}

.bg-cover {
    background-size: cover!important
}

.border-transparent {
    border-color: transparent!important
}

.border-black {
    border-color: rgba(0,0,0,var(--tw-border-opacity))!important
}

.border-black,.border-gray-300 {
    --tw-border-opacity: 1!important
}

.border-gray-300 {
    border-color: rgba(209,213,219,var(--tw-border-opacity))!important
}

.border-yellow-500 {
    --tw-border-opacity: 1!important;
    border-color: rgba(245,158,11,var(--tw-border-opacity))!important
}

.hover\:border-yellow-300:hover {
    --tw-border-opacity: 1!important;
    border-color: rgba(252,211,77,var(--tw-border-opacity))!important
}

.focus\:border-blue-300:focus {
    --tw-border-opacity: 1!important;
    border-color: rgba(147,197,253,var(--tw-border-opacity))!important
}

.border-opacity-5 {
    --tw-border-opacity: 0.05!important
}

.rounded-md {
    border-radius: .375rem!important
}

.rounded-lg {
    border-radius: .5rem!important
}

.rounded-xl {
    border-radius: .75rem!important
}

.rounded-full {
    border-radius: 9999px!important
}

.rounded-r-md {
    border-top-right-radius: .375rem!important;
    border-bottom-right-radius: .375rem!important
}

.rounded-l-md {
    border-top-left-radius: .375rem!important;
    border-bottom-left-radius: .375rem!important
}

.rounded-tl-lg {
    border-top-left-radius: .5rem!important
}

.rounded-tr-lg {
    border-top-right-radius: .5rem!important
}

.border-2 {
    border-width: 2px!important
}

.border {
    border-width: 1px!important
}

.border-b-2 {
    border-bottom-width: 2px!important
}

.cursor-default {
    cursor: default!important
}

.block {
    display: block!important
}

.inline-block {
    display: inline-block!important
}

.inline {
    display: inline!important
}

.flex {
    display: flex!important
}

.inline-flex {
    display: inline-flex!important
}

.table {
    display: table!important
}

.hidden {
    display: none!important
}

.items-center {
    align-items: center!important
}

.justify-center {
    justify-content: center!important
}

.justify-between {
    justify-content: space-between!important
}

.flex-1 {
    flex: 1 1 0%!important
}

.flex-grow {
    flex-grow: 1!important
}

.font-sans {
    font-family: ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji!important
}

.font-serif {
    font-family: PT Serif,serif!important
}

.font-light {
    font-weight: 300!important
}

.font-normal {
    font-weight: 400!important
}

.font-medium {
    font-weight: 500!important
}

.font-bold {
    font-weight: 700!important
}

.font-black {
    font-weight: 900!important
}

.h-1 {
    height: .25rem!important
}

.h-5 {
    height: 1.25rem!important
}

.h-full {
    height: 100%!important
}

.h-screen {
    height: 100vh!important
}

.text-sm {
    font-size: .875rem!important;
    line-height: 1.25rem!important
}

.text-base {
    font-size: 1rem!important;
    line-height: 1.5rem!important
}

.text-xl {
    font-size: 1.25rem!important;
    line-height: 1.75rem!important
}

.text-2xl {
    font-size: 1.5rem!important;
    line-height: 2rem!important
}

.text-3xl {
    font-size: 1.875rem!important;
    line-height: 2.25rem!important
}

.text-4xl {
    font-size: 2.25rem!important;
    line-height: 2.5rem!important
}

.text-5xl {
    font-size: 3rem!important
}

.text-5xl,.text-6xl {
    line-height: 1!important
}

.text-6xl {
    font-size: 3.75rem!important
}

.leading-5 {
    line-height: 1.25rem!important
}

.leading-none {
    line-height: 1!important
}

.leading-normal {
    line-height: 1.5!important
}

.m-8 {
    margin: 2rem!important
}

.my-3 {
    margin-top: .75rem!important;
    margin-bottom: .75rem!important
}

.my-10 {
    margin-top: 2.5rem!important;
    margin-bottom: 2.5rem!important
}

.mx-auto {
    margin-left: auto!important;
    margin-right: auto!important
}

.mb-0 {
    margin-bottom: 0!important
}

.mt-1 {
    margin-top: .25rem!important
}

.mb-1 {
    margin-bottom: .25rem!important
}

.mt-2 {
    margin-top: .5rem!important
}

.mr-2 {
    margin-right: .5rem!important
}

.mb-3 {
    margin-bottom: .75rem!important
}

.ml-3 {
    margin-left: .75rem!important
}

.mt-4 {
    margin-top: 1rem!important
}

.mb-4 {
    margin-bottom: 1rem!important
}

.mt-5 {
    margin-top: 1.25rem!important
}

.mb-6 {
    margin-bottom: 1.5rem!important
}

.mt-8 {
    margin-top: 2rem!important
}

.mb-8 {
    margin-bottom: 2rem!important
}

.mt-10 {
    margin-top: 2.5rem!important
}

.mr-10 {
    margin-right: 2.5rem!important
}

.mb-10 {
    margin-bottom: 2.5rem!important
}

.mt-16 {
    margin-top: 4rem!important
}

.mb-16 {
    margin-bottom: 4rem!important
}

.mb-20 {
    margin-bottom: 5rem!important
}

.mt-48 {
    margin-top: 12rem!important
}

.-mr-10 {
    margin-right: -2.5rem!important
}

.-ml-16 {
    margin-left: -4rem!important
}

.-ml-px {
    margin-left: -1px!important
}

.max-w-sm {
    max-width: 24rem!important
}

.max-w-5xl {
    max-width: 64rem!important
}

.max-w-7xl {
    max-width: 80rem!important
}

.max-w-prose {
    max-width: 65ch!important
}

.min-h-full {
    min-height: 100%!important
}

.min-h-screen {
    min-height: 100vh!important
}

.focus\:outline-none:focus {
    outline: 2px solid transparent!important;
    outline-offset: 2px!important
}

.overflow-hidden {
    overflow: hidden!important
}

.overflow-x-hidden {
    overflow-x: hidden!important
}

.p-1 {
    padding: .25rem!important
}

.p-2 {
    padding: .5rem!important
}

.p-40 {
    padding: 10rem!important
}

.p-80 {
    padding: 20rem!important
}

.py-1 {
    padding-top: .25rem!important;
    padding-bottom: .25rem!important
}

.px-1 {
    padding-left: .25rem!important;
    padding-right: .25rem!important
}

.py-2 {
    padding-top: .5rem!important;
    padding-bottom: .5rem!important
}

.px-2 {
    padding-left: .5rem!important;
    padding-right: .5rem!important
}

.py-3 {
    padding-top: .75rem!important;
    padding-bottom: .75rem!important
}

.py-4 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important
}

.px-4 {
    padding-left: 1rem!important;
    padding-right: 1rem!important
}

.px-6 {
    padding-left: 1.5rem!important;
    padding-right: 1.5rem!important
}

.py-10 {
    padding-top: 2.5rem!important;
    padding-bottom: 2.5rem!important
}

.py-16 {
    padding-top: 4rem!important;
    padding-bottom: 4rem!important
}

.py-1\.5 {
    padding-top: .375rem!important;
    padding-bottom: .375rem!important
}

.pb-0 {
    padding-bottom: 0!important
}

.pt-1 {
    padding-top: .25rem!important
}

.pr-2 {
    padding-right: .5rem!important
}

.pr-4 {
    padding-right: 1rem!important
}

.static {
    position: static!important
}

.fixed {
    position: fixed!important
}

.absolute {
    position: absolute!important
}

.relative {
    position: relative!important
}

.sticky {
    position: -webkit-sticky!important;
    position: sticky!important
}

.inset-0 {
    right: 0!important;
    bottom: 0!important;
    left: 0!important
}

.inset-0,.top-0 {
    top: 0!important
}

.right-0 {
    right: 0!important
}

.bottom-0 {
    bottom: 0!important
}

.left-0 {
    left: 0!important
}

.bottom-5 {
    bottom: 1.25rem!important
}

.top-8 {
    top: 2rem!important
}

.top-auto {
    top: auto!important
}

.right-auto {
    right: auto!important
}

.left-auto {
    left: auto!important
}

.left-3\/4 {
    left: 75%!important
}

* {
    --tw-shadow: 0 0 transparent
}

.shadow-sm {
    --tw-shadow: 0 1px 2px 0 rgba(0,0,0,0.05)!important
}

.shadow,.shadow-sm {
    box-shadow: 0 0 transparent,0 0 transparent,var(--tw-shadow)!important;
    box-shadow: var(--tw-ring-offset-shadow,0 0 transparent),var(--tw-ring-shadow,0 0 transparent),var(--tw-shadow)!important
}

.shadow {
    --tw-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06)!important
}

.shadow-lg {
    --tw-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05)!important;
    box-shadow: 0 0 transparent,0 0 transparent,var(--tw-shadow)!important;
    box-shadow: var(--tw-ring-offset-shadow,0 0 transparent),var(--tw-ring-shadow,0 0 transparent),var(--tw-shadow)!important
}

* {
    --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59,130,246,0.5);
    --tw-ring-offset-shadow: 0 0 transparent;
    --tw-ring-shadow: 0 0 transparent
}

.text-left {
    text-align: left!important
}

.text-center {
    text-align: center!important
}

.text-right {
    text-align: right!important
}

.text-black {
    color: rgba(0,0,0,var(--tw-text-opacity))!important
}

.text-black,.text-gray-400 {
    --tw-text-opacity: 1!important
}

.text-gray-400 {
    color: rgba(156,163,175,var(--tw-text-opacity))!important
}

.text-gray-500 {
    --tw-text-opacity: 1!important;
    color: rgba(107,114,128,var(--tw-text-opacity))!important
}

.text-gray-600 {
    --tw-text-opacity: 1!important;
    color: rgba(75,85,99,var(--tw-text-opacity))!important
}

.text-gray-700 {
    --tw-text-opacity: 1!important;
    color: rgba(55,65,81,var(--tw-text-opacity))!important
}

.text-gray-800 {
    --tw-text-opacity: 1!important;
    color: rgba(31,41,55,var(--tw-text-opacity))!important
}

.text-gray-900 {
    --tw-text-opacity: 1!important;
    color: rgba(17,24,39,var(--tw-text-opacity))!important
}

.text-yellow-200 {
    --tw-text-opacity: 1!important;
    color: rgba(253,230,138,var(--tw-text-opacity))!important
}

.hover\:text-gray-400:hover {
    --tw-text-opacity: 1!important;
    color: rgba(156,163,175,var(--tw-text-opacity))!important
}

.hover\:text-gray-500:hover {
    --tw-text-opacity: 1!important;
    color: rgba(107,114,128,var(--tw-text-opacity))!important
}

.hover\:text-yellow-700:hover {
    --tw-text-opacity: 1!important;
    color: rgba(180,83,9,var(--tw-text-opacity))!important
}

.italic {
    font-style: italic!important
}

.uppercase {
    text-transform: uppercase!important
}

.lowercase {
    text-transform: lowercase!important
}

.underline {
    text-decoration: underline!important
}

.antialiased {
    -webkit-font-smoothing: antialiased!important;
    -moz-osx-font-smoothing: grayscale!important
}

.tracking-wide {
    letter-spacing: .025em!important
}

.break-all {
    word-break: break-all!important
}

.w-5 {
    width: 1.25rem!important
}

.w-16 {
    width: 4rem!important
}

.w-full {
    width: 100%!important
}

.w-screen {
    width: 100vw!important
}

.z-0 {
    z-index: 0!important
}

.z-10 {
    z-index: 10!important
}

.z-20 {
    z-index: 20!important
}

.z-50 {
    z-index: 50!important
}

.-z-1 {
    z-index: -1!important
}

.focus\:z-10:focus {
    z-index: 10!important
}

.transform {
    --tw-translate-x: 0!important;
    --tw-translate-y: 0!important;
    --tw-rotate: 0!important;
    --tw-skew-x: 0!important;
    --tw-skew-y: 0!important;
    --tw-scale-x: 1!important;
    --tw-scale-y: 1!important;
    transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))!important
}

.origin-bottom-right {
    transform-origin: bottom right!important
}

.scale-105 {
    --tw-scale-x: 1.05!important;
    --tw-scale-y: 1.05!important
}

.rotate-6 {
    --tw-rotate: 6deg!important
}

.-rotate-2 {
    --tw-rotate: -2deg!important
}

.transition {
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform!important;
    transition-timing-function: cubic-bezier(.4,0,.2,1)!important;
    transition-duration: .15s!important
}

.ease-in-out {
    transition-timing-function: cubic-bezier(.4,0,.2,1)!important
}

.duration-150 {
    transition-duration: .15s!important
}

@-webkit-keyframes spin {
    to {
        transform: rotate(1turn)
    }
}

@keyframes spin {
    to {
        transform: rotate(1turn)
    }
}

@-webkit-keyframes ping {
    75%,to {
        transform: scale(2);
        opacity: 0
    }
}

@keyframes ping {
    75%,to {
        transform: scale(2);
        opacity: 0
    }
}

@-webkit-keyframes pulse {
    50% {
        opacity: .5
    }
}

@keyframes pulse {
    50% {
        opacity: .5
    }
}

@-webkit-keyframes bounce {
    0%,to {
        transform: translateY(-25%);
        -webkit-animation-timing-function: cubic-bezier(.8,0,1,1);
        animation-timing-function: cubic-bezier(.8,0,1,1)
    }

    50% {
        transform: none;
        -webkit-animation-timing-function: cubic-bezier(0,0,.2,1);
        animation-timing-function: cubic-bezier(0,0,.2,1)
    }
}

@keyframes bounce {
    0%,to {
        transform: translateY(-25%);
        -webkit-animation-timing-function: cubic-bezier(.8,0,1,1);
        animation-timing-function: cubic-bezier(.8,0,1,1)
    }

    50% {
        transform: none;
        -webkit-animation-timing-function: cubic-bezier(0,0,.2,1);
        animation-timing-function: cubic-bezier(0,0,.2,1)
    }
}

.bg-tran-dark-transparent {
    background-image: linear-gradient(0deg,hsla(0,0%,100%,0),#fff 80%)
}

.bg-highlight {
    opacity: 0;
    transition: all .2s linear
}

.projects-list .project-active .text-gray-300,.projects-list .project-active .text-gray-700,.projects-list a:hover .text-gray-300,.projects-list a:hover .text-gray-700 {
    color: #000
}

.projects-list .project-active .bg-highlight,.projects-list a:hover .bg-highlight {
    opacity: 1
}

.sticky-circle {
    position: fixed!important;
    right: 0;
    top: 19vh;
    max-width: 600px
}

@media screen and (max-width: 768px) {
    .sticky-circle {
        position:fixed!important;
        right: -380px;
        bottom: 10%;
        max-width: 600px;
        opacity: .25;
        z-index: -1
    }
}

@media (min-width: 769px) and (max-width:1100px) {
    .sticky-circle {
        opacity:.3;
        transition: opacity .3s linear
    }
}

.loader {
    display: none!important
}

.has-js .loader {
    display: flex!important
}

.bristol-bg {
    background-color: #fff;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='304' height='304'%3E%3Cpath fill='%23fbbf24' fill-opacity='.1' d='M44.1 224a5 5 0 110 2H0v-2h44.1zm160 48a5 5 0 110 2H82v-2h122.1zm57.8-46a5 5 0 110-2H304v2h-42.1zm0 16a5 5 0 110-2H304v2h-42.1zm6.2-114a5 5 0 110 2h-86.2a5 5 0 110-2h86.2zm-256-48a5 5 0 110 2H0v-2h12.1zm185.8 34a5 5 0 110-2h86.2a5 5 0 110 2h-86.2zM258 12.1a5 5 0 11-2 0V0h2v12.1zm-64 208a5 5 0 11-2 0v-54.2a5 5 0 112 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 112 0zm16 16V64h46v2h-48V37.9a5 5 0 112 0zm-128 96V208h16v12.1a5 5 0 11-2 0V210h-16v-76.1a5 5 0 112 0zm-5.9-21.9a5 5 0 110 2H114v48H85.9a5 5 0 110-2H112v-48h12.1zm-6.2 130a5 5 0 110-2H176v-74.1a5 5 0 112 0V242h-60.1zm-16-64a5 5 0 110-2H114v48h10.1a5 5 0 110 2H112v-48h-10.1zM66 284.1a5 5 0 11-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 110 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 110-2H274v44.1a5 5 0 11-2 0V146h-10.1zm-64 96a5 5 0 110-2H208v-80h16v-14h-42.1a5 5 0 110-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 110 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 110-2H96v-42.1a5 5 0 112 0zM53.9 34a5 5 0 110-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 110-2H80V64h32V37.9a5 5 0 112 0zM101.9 82a5 5 0 110-2H128V37.9a5 5 0 112 0V82h-28.1zm16-64a5 5 0 110-2H146v44.1a5 5 0 11-2 0V18h-26.1zm102.2 270a5 5 0 110 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 112 0zM53.9 18a5 5 0 110-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 110-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 01-9.8-2h2.07a3 3 0 105.66 0H178v34h-18V21.9a5 5 0 112 0V32h14V2h-58.1zm0 96a5 5 0 110-2H137l32-32h39V21.9a5 5 0 112 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 11-2 0v-76.51L175.59 80H224V21.9a5 5 0 112 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 11-2 0v-99.51L184.59 96H300.1a5 5 0 013.9-3.9v2.07a3 3 0 000 5.66v2.07a5 5 0 01-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 11-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 110 2H0v-65.41l48-48V53.9a5 5 0 112 0zm-16 16v19.51l-34 34v-2.82l32-32V69.9a5 5 0 112 0zM12.1 32a5 5 0 110 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 110-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 110-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 110-2H64v-22.59L40.59 194H21.9a5 5 0 110-2h19.51L66 216.59V242H53.9zm150.2 14a5 5 0 110 2H96v-56.6L56.6 162H37.9a5 5 0 110-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 110-2H80v-46.59L48.59 178H21.9a5 5 0 110-2h27.51L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 013.9 3.9H3.83A3 3 0 000 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 016 97a5 5 0 01-6 4.9v-2.07a3 3 0 100-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 00-5.66 0h-2.07a5 5 0 019.8 0zM5.9 0A5.02 5.02 0 010 5.9V3.83A3 3 0 003.83 0H5.9zm294.2 0h2.07A3 3 0 00304 3.83V5.9a5 5 0 01-3.9-5.9zm3.9 300.1v2.07a3 3 0 00-1.83 1.83h-2.07a5 5 0 013.9-3.9zM97 100a3 3 0 100-6 3 3 0 000 6zm0-16a3 3 0 100-6 3 3 0 000 6zm16 16a3 3 0 100-6 3 3 0 000 6zm16 16a3 3 0 100-6 3 3 0 000 6zm0 16a3 3 0 100-6 3 3 0 000 6zm-48 32a3 3 0 100-6 3 3 0 000 6zm16 16a3 3 0 100-6 3 3 0 000 6zm32 48a3 3 0 100-6 3 3 0 000 6zm-16 16a3 3 0 100-6 3 3 0 000 6zm32-16a3 3 0 100-6 3 3 0 000 6zm0-32a3 3 0 100-6 3 3 0 000 6zm16 32a3 3 0 100-6 3 3 0 000 6zm32 16a3 3 0 100-6 3 3 0 000 6zm0-16a3 3 0 100-6 3 3 0 000 6zm-16-64a3 3 0 100-6 3 3 0 000 6zm16 0a3 3 0 100-6 3 3 0 000 6zm16 96a3 3 0 100-6 3 3 0 000 6zm0 16a3 3 0 100-6 3 3 0 000 6zm16 16a3 3 0 100-6 3 3 0 000 6zm16-144a3 3 0 100-6 3 3 0 000 6zm0 32a3 3 0 100-6 3 3 0 000 6zm16-32a3 3 0 100-6 3 3 0 000 6zm16-16a3 3 0 100-6 3 3 0 000 6zm-96 0a3 3 0 100-6 3 3 0 000 6zm0 16a3 3 0 100-6 3 3 0 000 6zm16-32a3 3 0 100-6 3 3 0 000 6zm96 0a3 3 0 100-6 3 3 0 000 6zm-16-64a3 3 0 100-6 3 3 0 000 6zm16-16a3 3 0 100-6 3 3 0 000 6zm-32 0a3 3 0 100-6 3 3 0 000 6zm0-16a3 3 0 100-6 3 3 0 000 6zm-16 0a3 3 0 100-6 3 3 0 000 6zm-16 0a3 3 0 100-6 3 3 0 000 6zm-16 0a3 3 0 100-6 3 3 0 000 6zM49 36a3 3 0 100-6 3 3 0 000 6zm-32 0a3 3 0 100-6 3 3 0 000 6zm32 16a3 3 0 100-6 3 3 0 000 6zM33 68a3 3 0 100-6 3 3 0 000 6zm16-48a3 3 0 100-6 3 3 0 000 6zm0 240a3 3 0 100-6 3 3 0 000 6zm16 32a3 3 0 100-6 3 3 0 000 6zm-16-64a3 3 0 100-6 3 3 0 000 6zm0 16a3 3 0 100-6 3 3 0 000 6zm-16-32a3 3 0 100-6 3 3 0 000 6zm80-176a3 3 0 100-6 3 3 0 000 6zm16 0a3 3 0 100-6 3 3 0 000 6zm-16-16a3 3 0 100-6 3 3 0 000 6zm32 48a3 3 0 100-6 3 3 0 000 6zm16-16a3 3 0 100-6 3 3 0 000 6zm0-32a3 3 0 100-6 3 3 0 000 6zm112 176a3 3 0 100-6 3 3 0 000 6zm-16 16a3 3 0 100-6 3 3 0 000 6zm0 16a3 3 0 100-6 3 3 0 000 6zm0 16a3 3 0 100-6 3 3 0 000 6zM17 180a3 3 0 100-6 3 3 0 000 6zm0 16a3 3 0 100-6 3 3 0 000 6zm0-32a3 3 0 100-6 3 3 0 000 6zm16 0a3 3 0 100-6 3 3 0 000 6zM17 84a3 3 0 100-6 3 3 0 000 6zm32 64a3 3 0 100-6 3 3 0 000 6zm16-16a3 3 0 100-6 3 3 0 000 6z'/%3E%3C/svg%3E")
}

.scarlett-bg {
    background-color: #fff;
     background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='304' height='304'%3E%3Cpath fill='%23fbbf24' fill-opacity='.1' d='M44.1 224a5 5 0 110 2H0v-2h44.1zm160 48a5 5 0 110 2H82v-2h122.1zm57.8-46a5 5 0 110-2H304v2h-42.1zm0 16a5 5 0 110-2H304v2h-42.1zm6.2-114a5 5 0 110 2h-86.2a5 5 0 110-2h86.2zm-256-48a5 5 0 110 2H0v-2h12.1zm185.8 34a5 5 0 110-2h86.2a5 5 0 110 2h-86.2zM258 12.1a5 5 0 11-2 0V0h2v12.1zm-64 208a5 5 0 11-2 0v-54.2a5 5 0 112 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 112 0zm16 16V64h46v2h-48V37.9a5 5 0 112 0zm-128 96V208h16v12.1a5 5 0 11-2 0V210h-16v-76.1a5 5 0 112 0zm-5.9-21.9a5 5 0 110 2H114v48H85.9a5 5 0 110-2H112v-48h12.1zm-6.2 130a5 5 0 110-2H176v-74.1a5 5 0 112 0V242h-60.1zm-16-64a5 5 0 110-2H114v48h10.1a5 5 0 110 2H112v-48h-10.1zM66 284.1a5 5 0 11-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 110 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 110-2H274v44.1a5 5 0 11-2 0V146h-10.1zm-64 96a5 5 0 110-2H208v-80h16v-14h-42.1a5 5 0 110-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 110 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 110-2H96v-42.1a5 5 0 112 0zM53.9 34a5 5 0 110-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 110-2H80V64h32V37.9a5 5 0 112 0zM101.9 82a5 5 0 110-2H128V37.9a5 5 0 112 0V82h-28.1zm16-64a5 5 0 110-2H146v44.1a5 5 0 11-2 0V18h-26.1zm102.2 270a5 5 0 110 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 112 0zM53.9 18a5 5 0 110-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 110-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 01-9.8-2h2.07a3 3 0 105.66 0H178v34h-18V21.9a5 5 0 112 0V32h14V2h-58.1zm0 96a5 5 0 110-2H137l32-32h39V21.9a5 5 0 112 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 11-2 0v-76.51L175.59 80H224V21.9a5 5 0 112 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 11-2 0v-99.51L184.59 96H300.1a5 5 0 013.9-3.9v2.07a3 3 0 000 5.66v2.07a5 5 0 01-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 11-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 110 2H0v-65.41l48-48V53.9a5 5 0 112 0zm-16 16v19.51l-34 34v-2.82l32-32V69.9a5 5 0 112 0zM12.1 32a5 5 0 110 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 110-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 110-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 110-2H64v-22.59L40.59 194H21.9a5 5 0 110-2h19.51L66 216.59V242H53.9zm150.2 14a5 5 0 110 2H96v-56.6L56.6 162H37.9a5 5 0 110-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 110-2H80v-46.59L48.59 178H21.9a5 5 0 110-2h27.51L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 013.9 3.9H3.83A3 3 0 000 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 016 97a5 5 0 01-6 4.9v-2.07a3 3 0 100-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 00-5.66 0h-2.07a5 5 0 019.8 0zM5.9 0A5.02 5.02 0 010 5.9V3.83A3 3 0 003.83 0H5.9zm294.2 0h2.07A3 3 0 00304 3.83V5.9a5 5 0 01-3.9-5.9zm3.9 300.1v2.07a3 3 0 00-1.83 1.83h-2.07a5 5 0 013.9-3.9zM97 100a3 3 0 100-6 3 3 0 000 6zm0-16a3 3 0 100-6 3 3 0 000 6zm16 16a3 3 0 100-6 3 3 0 000 6zm16 16a3 3 0 100-6 3 3 0 000 6zm0 16a3 3 0 100-6 3 3 0 000 6zm-48 32a3 3 0 100-6 3 3 0 000 6zm16 16a3 3 0 100-6 3 3 0 000 6zm32 48a3 3 0 100-6 3 3 0 000 6zm-16 16a3 3 0 100-6 3 3 0 000 6zm32-16a3 3 0 100-6 3 3 0 000 6zm0-32a3 3 0 100-6 3 3 0 000 6zm16 32a3 3 0 100-6 3 3 0 000 6zm32 16a3 3 0 100-6 3 3 0 000 6zm0-16a3 3 0 100-6 3 3 0 000 6zm-16-64a3 3 0 100-6 3 3 0 000 6zm16 0a3 3 0 100-6 3 3 0 000 6zm16 96a3 3 0 100-6 3 3 0 000 6zm0 16a3 3 0 100-6 3 3 0 000 6zm16 16a3 3 0 100-6 3 3 0 000 6zm16-144a3 3 0 100-6 3 3 0 000 6zm0 32a3 3 0 100-6 3 3 0 000 6zm16-32a3 3 0 100-6 3 3 0 000 6zm16-16a3 3 0 100-6 3 3 0 000 6zm-96 0a3 3 0 100-6 3 3 0 000 6zm0 16a3 3 0 100-6 3 3 0 000 6zm16-32a3 3 0 100-6 3 3 0 000 6zm96 0a3 3 0 100-6 3 3 0 000 6zm-16-64a3 3 0 100-6 3 3 0 000 6zm16-16a3 3 0 100-6 3 3 0 000 6zm-32 0a3 3 0 100-6 3 3 0 000 6zm0-16a3 3 0 100-6 3 3 0 000 6zm-16 0a3 3 0 100-6 3 3 0 000 6zm-16 0a3 3 0 100-6 3 3 0 000 6zm-16 0a3 3 0 100-6 3 3 0 000 6zM49 36a3 3 0 100-6 3 3 0 000 6zm-32 0a3 3 0 100-6 3 3 0 000 6zm32 16a3 3 0 100-6 3 3 0 000 6zM33 68a3 3 0 100-6 3 3 0 000 6zm16-48a3 3 0 100-6 3 3 0 000 6zm0 240a3 3 0 100-6 3 3 0 000 6zm16 32a3 3 0 100-6 3 3 0 000 6zm-16-64a3 3 0 100-6 3 3 0 000 6zm0 16a3 3 0 100-6 3 3 0 000 6zm-16-32a3 3 0 100-6 3 3 0 000 6zm80-176a3 3 0 100-6 3 3 0 000 6zm16 0a3 3 0 100-6 3 3 0 000 6zm-16-16a3 3 0 100-6 3 3 0 000 6zm32 48a3 3 0 100-6 3 3 0 000 6zm16-16a3 3 0 100-6 3 3 0 000 6zm0-32a3 3 0 100-6 3 3 0 000 6zm112 176a3 3 0 100-6 3 3 0 000 6zm-16 16a3 3 0 100-6 3 3 0 000 6zm0 16a3 3 0 100-6 3 3 0 000 6zm0 16a3 3 0 100-6 3 3 0 000 6zM17 180a3 3 0 100-6 3 3 0 000 6zm0 16a3 3 0 100-6 3 3 0 000 6zm0-32a3 3 0 100-6 3 3 0 000 6zm16 0a3 3 0 100-6 3 3 0 000 6zM17 84a3 3 0 100-6 3 3 0 000 6zm32 64a3 3 0 100-6 3 3 0 000 6zm16-16a3 3 0 100-6 3 3 0 000 6z'/%3E%3C/svg%3E")
}

.speakerbuzz-bg {
    background-color: #fff;
     background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='304' height='304'%3E%3Cpath fill='%23fbbf24' fill-opacity='.1' d='M44.1 224a5 5 0 110 2H0v-2h44.1zm160 48a5 5 0 110 2H82v-2h122.1zm57.8-46a5 5 0 110-2H304v2h-42.1zm0 16a5 5 0 110-2H304v2h-42.1zm6.2-114a5 5 0 110 2h-86.2a5 5 0 110-2h86.2zm-256-48a5 5 0 110 2H0v-2h12.1zm185.8 34a5 5 0 110-2h86.2a5 5 0 110 2h-86.2zM258 12.1a5 5 0 11-2 0V0h2v12.1zm-64 208a5 5 0 11-2 0v-54.2a5 5 0 112 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 112 0zm16 16V64h46v2h-48V37.9a5 5 0 112 0zm-128 96V208h16v12.1a5 5 0 11-2 0V210h-16v-76.1a5 5 0 112 0zm-5.9-21.9a5 5 0 110 2H114v48H85.9a5 5 0 110-2H112v-48h12.1zm-6.2 130a5 5 0 110-2H176v-74.1a5 5 0 112 0V242h-60.1zm-16-64a5 5 0 110-2H114v48h10.1a5 5 0 110 2H112v-48h-10.1zM66 284.1a5 5 0 11-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 110 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 110-2H274v44.1a5 5 0 11-2 0V146h-10.1zm-64 96a5 5 0 110-2H208v-80h16v-14h-42.1a5 5 0 110-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 110 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 110-2H96v-42.1a5 5 0 112 0zM53.9 34a5 5 0 110-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 110-2H80V64h32V37.9a5 5 0 112 0zM101.9 82a5 5 0 110-2H128V37.9a5 5 0 112 0V82h-28.1zm16-64a5 5 0 110-2H146v44.1a5 5 0 11-2 0V18h-26.1zm102.2 270a5 5 0 110 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 112 0zM53.9 18a5 5 0 110-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 110-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 01-9.8-2h2.07a3 3 0 105.66 0H178v34h-18V21.9a5 5 0 112 0V32h14V2h-58.1zm0 96a5 5 0 110-2H137l32-32h39V21.9a5 5 0 112 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 11-2 0v-76.51L175.59 80H224V21.9a5 5 0 112 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 11-2 0v-99.51L184.59 96H300.1a5 5 0 013.9-3.9v2.07a3 3 0 000 5.66v2.07a5 5 0 01-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 11-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 110 2H0v-65.41l48-48V53.9a5 5 0 112 0zm-16 16v19.51l-34 34v-2.82l32-32V69.9a5 5 0 112 0zM12.1 32a5 5 0 110 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 110-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 110-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 110-2H64v-22.59L40.59 194H21.9a5 5 0 110-2h19.51L66 216.59V242H53.9zm150.2 14a5 5 0 110 2H96v-56.6L56.6 162H37.9a5 5 0 110-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 110-2H80v-46.59L48.59 178H21.9a5 5 0 110-2h27.51L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 013.9 3.9H3.83A3 3 0 000 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 016 97a5 5 0 01-6 4.9v-2.07a3 3 0 100-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 00-5.66 0h-2.07a5 5 0 019.8 0zM5.9 0A5.02 5.02 0 010 5.9V3.83A3 3 0 003.83 0H5.9zm294.2 0h2.07A3 3 0 00304 3.83V5.9a5 5 0 01-3.9-5.9zm3.9 300.1v2.07a3 3 0 00-1.83 1.83h-2.07a5 5 0 013.9-3.9zM97 100a3 3 0 100-6 3 3 0 000 6zm0-16a3 3 0 100-6 3 3 0 000 6zm16 16a3 3 0 100-6 3 3 0 000 6zm16 16a3 3 0 100-6 3 3 0 000 6zm0 16a3 3 0 100-6 3 3 0 000 6zm-48 32a3 3 0 100-6 3 3 0 000 6zm16 16a3 3 0 100-6 3 3 0 000 6zm32 48a3 3 0 100-6 3 3 0 000 6zm-16 16a3 3 0 100-6 3 3 0 000 6zm32-16a3 3 0 100-6 3 3 0 000 6zm0-32a3 3 0 100-6 3 3 0 000 6zm16 32a3 3 0 100-6 3 3 0 000 6zm32 16a3 3 0 100-6 3 3 0 000 6zm0-16a3 3 0 100-6 3 3 0 000 6zm-16-64a3 3 0 100-6 3 3 0 000 6zm16 0a3 3 0 100-6 3 3 0 000 6zm16 96a3 3 0 100-6 3 3 0 000 6zm0 16a3 3 0 100-6 3 3 0 000 6zm16 16a3 3 0 100-6 3 3 0 000 6zm16-144a3 3 0 100-6 3 3 0 000 6zm0 32a3 3 0 100-6 3 3 0 000 6zm16-32a3 3 0 100-6 3 3 0 000 6zm16-16a3 3 0 100-6 3 3 0 000 6zm-96 0a3 3 0 100-6 3 3 0 000 6zm0 16a3 3 0 100-6 3 3 0 000 6zm16-32a3 3 0 100-6 3 3 0 000 6zm96 0a3 3 0 100-6 3 3 0 000 6zm-16-64a3 3 0 100-6 3 3 0 000 6zm16-16a3 3 0 100-6 3 3 0 000 6zm-32 0a3 3 0 100-6 3 3 0 000 6zm0-16a3 3 0 100-6 3 3 0 000 6zm-16 0a3 3 0 100-6 3 3 0 000 6zm-16 0a3 3 0 100-6 3 3 0 000 6zm-16 0a3 3 0 100-6 3 3 0 000 6zM49 36a3 3 0 100-6 3 3 0 000 6zm-32 0a3 3 0 100-6 3 3 0 000 6zm32 16a3 3 0 100-6 3 3 0 000 6zM33 68a3 3 0 100-6 3 3 0 000 6zm16-48a3 3 0 100-6 3 3 0 000 6zm0 240a3 3 0 100-6 3 3 0 000 6zm16 32a3 3 0 100-6 3 3 0 000 6zm-16-64a3 3 0 100-6 3 3 0 000 6zm0 16a3 3 0 100-6 3 3 0 000 6zm-16-32a3 3 0 100-6 3 3 0 000 6zm80-176a3 3 0 100-6 3 3 0 000 6zm16 0a3 3 0 100-6 3 3 0 000 6zm-16-16a3 3 0 100-6 3 3 0 000 6zm32 48a3 3 0 100-6 3 3 0 000 6zm16-16a3 3 0 100-6 3 3 0 000 6zm0-32a3 3 0 100-6 3 3 0 000 6zm112 176a3 3 0 100-6 3 3 0 000 6zm-16 16a3 3 0 100-6 3 3 0 000 6zm0 16a3 3 0 100-6 3 3 0 000 6zm0 16a3 3 0 100-6 3 3 0 000 6zM17 180a3 3 0 100-6 3 3 0 000 6zm0 16a3 3 0 100-6 3 3 0 000 6zm0-32a3 3 0 100-6 3 3 0 000 6zm16 0a3 3 0 100-6 3 3 0 000 6zM17 84a3 3 0 100-6 3 3 0 000 6zm32 64a3 3 0 100-6 3 3 0 000 6zm16-16a3 3 0 100-6 3 3 0 000 6z'/%3E%3C/svg%3E")
}

.projects-list .delay-100ms {
    -webkit-animation-delay: .1s;
    animation-delay: .1s
}

.projects-list .delay-200ms {
    -webkit-animation-delay: .25s;
    animation-delay: .25s
}

.projects-list .delay-300ms {
    -webkit-animation-delay: .35s;
    animation-delay: .35s
}

.projects-list .delay-400ms {
    -webkit-animation-delay: .45s;
    animation-delay: .45s
}

.projects-list .delay-500ms {
    -webkit-animation-delay: .55s;
    animation-delay: .55s
}

.projects-list .delay-600ms {
    -webkit-animation-delay: .62s;
    animation-delay: .62s
}

.projects-list .delay-700ms {
    -webkit-animation-delay: .7s;
    animation-delay: .7s
}

.text-content a {
    text-decoration: underline
}

@media (min-width: 640px) {
    .sm\:space-x-8>:not([hidden])~:not([hidden]) {
        --tw-space-x-reverse:0!important;
        margin-right: calc(2rem*var(--tw-space-x-reverse))!important;
        margin-left: calc(2rem*(1 - var(--tw-space-x-reverse)))!important
    }

    .sm\:flex {
        display: flex!important
    }

    .sm\:hidden {
        display: none!important
    }

    .sm\:items-center {
        align-items: center!important
    }

    .sm\:justify-between {
        justify-content: space-between!important
    }

    .sm\:flex-1 {
        flex: 1 1 0%!important
    }

    .sm\:-my-px {
        margin-top: -1px!important;
        margin-bottom: -1px!important
    }

    .sm\:ml-6 {
        margin-left: 1.5rem!important
    }

    .sm\:overflow-hidden {
        overflow: hidden!important
    }

    .sm\:px-6 {
        padding-left: 1.5rem!important;
        padding-right: 1.5rem!important
    }
}

@media (min-width: 768px) {
    .md\:prose-2xl {
        font-size:1.5rem;
        line-height: 1.6666667
    }

    .md\:prose-2xl p {
        margin-top: 1.3333333em;
        margin-bottom: 1.3333333em
    }

    .md\:prose-2xl [class~=lead] {
        font-size: 1.25em;
        line-height: 1.4666667;
        margin-top: 1.0666667em;
        margin-bottom: 1.0666667em
    }

    .md\:prose-2xl blockquote {
        margin-top: 1.7777778em;
        margin-bottom: 1.7777778em;
        padding-left: 1.1111111em
    }

    .md\:prose-2xl h1 {
        font-size: 2.6666667em;
        margin-top: 0;
        margin-bottom: .875em;
        line-height: 1
    }

    .md\:prose-2xl h2 {
        font-size: 2em;
        margin-top: 1.5em;
        margin-bottom: .8333333em;
        line-height: 1.0833333
    }

    .md\:prose-2xl h3 {
        font-size: 1.5em;
        margin-top: 1.5555556em;
        margin-bottom: .6666667em;
        line-height: 1.2222222
    }

    .md\:prose-2xl h4 {
        margin-top: 1.6666667em;
        margin-bottom: .6666667em;
        line-height: 1.5
    }

    .md\:prose-2xl figure,.md\:prose-2xl img,.md\:prose-2xl video {
        margin-top: 2em;
        margin-bottom: 2em
    }

    .md\:prose-2xl figure>* {
        margin-top: 0;
        margin-bottom: 0
    }

    .md\:prose-2xl figure figcaption {
        font-size: .8333333em;
        line-height: 1.6;
        margin-top: 1em
    }

    .md\:prose-2xl code {
        font-size: .8333333em
    }

    .md\:prose-2xl h2 code {
        font-size: .875em
    }

    .md\:prose-2xl h3 code {
        font-size: .8888889em
    }

    .md\:prose-2xl pre {
        font-size: .8333333em;
        line-height: 1.8;
        margin-top: 2em;
        margin-bottom: 2em;
        border-radius: .5rem;
        padding: 1.2em 1.6em
    }

    .md\:prose-2xl ol,.md\:prose-2xl ul {
        margin-top: 1.3333333em;
        margin-bottom: 1.3333333em
    }

    .md\:prose-2xl li {
        margin-top: .5em;
        margin-bottom: .5em
    }

    .md\:prose-2xl ol>li {
        padding-left: 1.6666667em
    }

    .md\:prose-2xl ol>li:before {
        left: 0
    }

    .md\:prose-2xl ul>li {
        padding-left: 1.6666667em
    }

    .md\:prose-2xl ul>li:before {
        width: .3333333em;
        height: .3333333em;
        top: .66667em;
        left: .25em
    }

    .md\:prose-2xl>ul>li p {
        margin-top: .8333333em;
        margin-bottom: .8333333em
    }

    .md\:prose-2xl>ul>li>:first-child {
        margin-top: 1.3333333em
    }

    .md\:prose-2xl>ul>li>:last-child {
        margin-bottom: 1.3333333em
    }

    .md\:prose-2xl>ol>li>:first-child {
        margin-top: 1.3333333em
    }

    .md\:prose-2xl>ol>li>:last-child {
        margin-bottom: 1.3333333em
    }

    .md\:prose-2xl ol ol,.md\:prose-2xl ol ul,.md\:prose-2xl ul ol,.md\:prose-2xl ul ul {
        margin-top: .6666667em;
        margin-bottom: .6666667em
    }

    .md\:prose-2xl hr {
        margin-top: 3em;
        margin-bottom: 3em
    }

    .md\:prose-2xl h2+*,.md\:prose-2xl h3+*,.md\:prose-2xl h4+*,.md\:prose-2xl hr+* {
        margin-top: 0
    }

    .md\:prose-2xl table {
        font-size: .8333333em;
        line-height: 1.4
    }

    .md\:prose-2xl thead th {
        padding-right: .6em;
        padding-bottom: .8em;
        padding-left: .6em
    }

    .md\:prose-2xl thead th:first-child {
        padding-left: 0
    }

    .md\:prose-2xl thead th:last-child {
        padding-right: 0
    }

    .md\:prose-2xl tbody td {
        padding: .8em .6em
    }

    .md\:prose-2xl tbody td:first-child {
        padding-left: 0
    }

    .md\:prose-2xl tbody td:last-child {
        padding-right: 0
    }

    .md\:prose-2xl>:first-child {
        margin-top: 0
    }

    .md\:prose-2xl>:last-child {
        margin-bottom: 0
    }

    .md\:block {
        display: block!important
    }

    .md\:flex {
        display: flex!important
    }

    .md\:text-3xl {
        font-size: 1.875rem!important;
        line-height: 2.25rem!important
    }

    .md\:text-4xl {
        font-size: 2.25rem!important;
        line-height: 2.5rem!important
    }

    .md\:text-6xl {
        font-size: 3.75rem!important;
        line-height: 1!important
    }

    .md\:text-8xl {
        font-size: 6rem!important;
        line-height: 1!important
    }

    .md\:my-6 {
        margin-top: 1.5rem!important;
        margin-bottom: 1.5rem!important
    }

    .md\:min-h-screen {
        min-height: 100vh!important
    }

    .md\:pb-0 {
        padding-bottom: 0!important
    }

    .md\:w-auto {
        width: auto!important
    }

    .md\:w-1\/2 {
        width: 50%!important
    }
}

@media (min-width: 1024px) {
    .lg\:block {
        display:block!important
    }

    .lg\:grid {
        display: grid!important
    }

    .lg\:text-4xl {
        font-size: 2.25rem!important;
        line-height: 2.5rem!important
    }

    .lg\:text-5xl {
        font-size: 3rem!important;
        line-height: 1!important
    }

    .lg\:text-6xl {
        font-size: 3.75rem!important;
        line-height: 1!important
    }

    .lg\:text-8xl {
        font-size: 6rem!important;
        line-height: 1!important
    }

    .lg\:mt-0 {
        margin-top: 0!important
    }

    .lg\:max-w-none {
        max-width: none!important
    }

    .lg\:max-w-screen-md {
        max-width: 768px!important
    }

    .lg\:overflow-visible {
        overflow: visible!important
    }

    .lg\:px-8 {
        padding-left: 2rem!important;
        padding-right: 2rem!important
    }

    .lg\:pb-48 {
        padding-bottom: 12rem!important
    }

    .lg\:w-24 {
        width: 6rem!important
    }

    .lg\:w-1\/2 {
        width: 50%!important
    }

    .lg\:gap-8 {
        grid-gap: 2rem!important;
        gap: 2rem!important
    }

    .lg\:grid-cols-2 {
        grid-template-columns: repeat(2,minmax(0,1fr))!important
    }

    .lg\:col-start-1 {
        grid-column-start: 1!important
    }

    .lg\:col-start-2 {
        grid-column-start: 2!important
    }

    .lg\:row-start-1 {
        grid-row-start: 1!important
    }
}

@media (min-width: 1280px) {
    .xl\:overflow-visible {
        overflow:visible!important
    }
}
